## 실습1

In [2]:
import pandas as pd

df1 = pd.DataFrame({'제품' : ['사과', '딸기', '수박' ],
                    '가격' : [1800, 1500, 3000],
                    '판매량': [24, 38, 13]})

df1

   제품    가격  판매량
0  사과  1800   24
1  딸기  1500   38
2  수박  3000   13

In [5]:
print(df1.index)
print(df1.columns)
print(df1.values)

RangeIndex(start=0, stop=3, step=1)
Index(['제품', '가격', '판매량'], dtype='object')
[['사과' 1800 24]
 ['딸기' 1500 38]
 ['수박' 3000 13]]

In [6]:
df1['가격'].mean()

2100.0

In [7]:
df1['판매량'].mean()

25.0

## 실습2

In [8]:
df2 = pd.DataFrame([[1800, 24], [1500, 38], [3000, 13]],
                   columns = ['가격', '판매량'],
                   index = ['딸기', '사과', '수박'])
df2

      가격  판매량
딸기  1800   24
사과  1500   38
수박  3000   13

In [9]:
print(df2.index)
print(df2.columns)
print(df2.values)

Index(['딸기', '사과', '수박'], dtype='object')
Index(['가격', '판매량'], dtype='object')
[[1800   24]
 [1500   38]
 [3000   13]]

In [10]:
df2['가격'].mean()

2100.0

In [11]:
df2['판매량'].mean()

25.0