## Lab 2 : 데이터 프레임 만들기

In [2]:
import pandas as pd

In [3]:
df2 = pd.DataFrame([[90, 50], [80, 60], [60, 100], [70, 20]],
                    columns = ['english', 'math'],
                    index    = ['김기훈', '이유진', '박동현', '김민지'])
df2

     english  math
김기훈       90    50
이유진       80    60
박동현       60   100
김민지       70    20

In [9]:
print(df2.index)
print(df2.columns)
print(df2.values)

Index(['김기훈', '이유진', '박동현', '김민지'], dtype='object')
Index(['english', 'math'], dtype='object')
[[ 90  50]
 [ 80  60]
 [ 60 100]
 [ 70  20]]

In [5]:
df2['math'].mean()

57.5

In [6]:
df2 > 50

     english   math
김기훈     True  False
이유진     True   True
박동현     True   True
김민지     True  False

In [7]:
(df2 > 50).sum()

english    4
math       2
dtype: int64